.input{
box-sizing: border-box;
display: flex;
flex-direction: row;
align-items: center;
padding: 18px 20px;
gap: 40px;
position: absolute;
width: 715px;
height: 50px;
left: 100px;
top: 638px;
background: #FFFFFF;
border: 1px solid #000000;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
border-radius: 100px;

}
button{
position: relative;
margin-left: 400px;
left: 12.5%;
right: 8.33%;
top: 16.67%;

background: #FFFFFF;

}
.send-btn{
    
}