:root {
  --white: #ffffff;
  --black: #000000;
  --inactive-grey: #8f8f8f;
  --skillhub-blue: #0575e6;
  --skillhub-hover-blue: #0518e6;
  --red: red;
  --completion-green: #008000;
  --debug-colour: #add8e6;
}

.mandatory-asterik {
  color: var(--red);
  font-size: 16px;
}

.consumer-profile-main-container {
  margin-top: 100px;
}

/* Heading */
.heading-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

/* Switch button container */
.consumer-profile-switch-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-button {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--inactive-grey);
  padding: 10px;
  width: 350px;
  border-radius: 500px;
}

.switch-button button {
  font-size: 16px;
}

/* Form */
.consumer-profile-pic-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--inactive-grey);
  height: auto;
}

.consumer-profile-image-icon-file-button-container {
  height: 100px;
  width: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.consumer-profile-image-icon {
  width: 45px;
  height: 40px;
}

.consumer-profile-name-address-row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.consumer-profile-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}

.consumer-profile-input-field {
  width: 100%;
  height: 50px;
  border: 1px solid var(--inactive-grey);
  border-radius: 10px;
  padding: 0 10px;
}

.consumer-profile-input-field:focus {
  outline: none;
  border: 1px solid var(--skillhub-blue);
}

.consumer-profile-textarea-input {
  min-height: 250px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}

.consumer-profile-textarea-input:focus {
  border: 1px solid var(--skillhub-blue);
}

.consumer-profile-input-field::placeholder,
.consumer-profile-textarea-input::placeholder {
  font-size: 16px;
  text-align: left;
}

.consumer-profile-create-button {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
  .progressbar ul {
    display: none;
  }

  .consumer-profile-pic-upload {
    width: 350px;
  }

  .consumer-profile-info-form-group {
    width: 100%;
  }

  .consumer-profile-name-address-row {
    flex-direction: column;
  }

  .consumer-profile-create-button {
    width: 100%;
  }
}
