* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --inactive-grey: #8f8f8f;
  --skillhub-blue: #0575e6;
  --skillhub-hover-blue: #0518e6;
  --red: red;
  --completion-green: #008000;
}

body {
  margin: auto;
}

.mandatroy-asterik {
  color: var(--red);
}

/* Button Styles */
.switch-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.consumer-btn,
.skill-btn {
  width: 150px;
  height: 45px;
  font-weight: 500;
  font-size: 18px;
  color: var(--black);
  border: none;
  border-radius: 300px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
}

.skill-btn.active,
.skill-btn:hover {
  background-color: var(--skillhub-blue);
  color: var(--white);
  transform: scale(1.05);
}

/* Progress Bar Styles */
.progressbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  animation: fadeIn 1.4s ease-in;
}

.progressbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.progressbar li {
  display: flex;
  align-items: center;
}

.progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-circle {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--completion-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  color: var(--white);
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.step-circle.active {
  background-color: var(--skillhub-blue);
  color: var(--white);
  width: 200px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  animation: pulseLight 1.5s infinite alternate;
}

.connector-line {
  height: 5px;
  width: 300px;
  background-color: var(--completion-green);
  transition: all 0.5s ease;
}

.connector-line.active {
  background-color: var(--skillhub-blue);
  width: 300px;
  animation: expandLine 1s ease-out;
}

/* Profile Pieces Styles */
.profilepices {
  width: 600px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 20px auto;
  width: 1200px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 30px;
}

.image-upload-container {
  display: flex;
  gap: 30px;
}

.upload-image-icon {
height: 30px;
width:35px;
}

.take-photo-icon {
  height: 30px;
  width: 25px;
}

.captions {
  display: flex;
  flex-direction: row;
  gap: 100px;
  /* position: absolute;
  margin-top: 280px;
  margin-left: 50px; */
}

.find-out-link {
  color: var(--skillhub-blue);
}

.bvn-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  gap: 10px;
}

.bvn-form-input-container {
  margin-top: 30px;
}

.input-field {
  width: 590px !important;
  height: 50px;
  border-radius: 10px;
  border: 1px solid grey;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  right: 0;
  margin: 30px 20px 0 30px;
}

.buttons {
  height: 50px;
  border-radius: 10px;
  width: 270px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#save-btn {
  font-size: 17px;
  color: var(--skillhub-blue);
  background-color: var(--white);
  border: 2px solid var(--skillhub-blue);
}

#save-btn:hover {
  background-color: var(--skillhub-hover-blue);
  color: var(--white);
  border: 2px solid var(--skillhub-hover-blue);
}

#create-btn {
  background-color: var(--skillhub-blue);
  font-size: 17px;
  border: none;
  color: var(--white);
}

#create-btn:hover {
  background-color: var(--skillhub-hover-blue);
  /* transform: scale(1.05); */
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulseLight {
  from {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  to {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.8);
  }
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
