* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --inactive-grey: #8f8f8f;
  --skillhub-blue: #0575e6;
  --skillhub-hover-blue: #0518e6;
  --red: red;
  --completion-green: #008000;
  --debug-colour: #add8e6;
}

.artisan-container {
  margin-top: 20px;
}

/* Search Bar */
.artisan-page-search-container {
  max-width: 1200px;
  width: 100%;
  left: 0;
  top: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  z-index: 1000;
}

.artisan-page-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}

.artisan-search-input-field {
  width: 650px;
  height: 50px;
  border: 1px solid var(--inactive-grey);
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 16px;
}

.artisan-search-input-field::placeholder {
  text-align: left;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.artisan-search-input-field:focus {
  outline: none;
  border: 1px solid var(--skillhub-blue);
  box-shadow: 0 0 5px var(--inactive-grey);
}

.artisan-page-search-button {
  color: var(--white);
  background-color: var(--skillhub-blue);
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 50px;
}

.artisan-page-search-button:hover {
  background-color: var(--skillhub-hover-blue);
  transform: translateY(-1px);
}

.artisan-page-filter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--skillhub-blue);
  border-radius: 10px;
  background-color: var(--white);
  color: var(--skillhub-blue);
  transition: 0.3s ease;
  height: 50px;
  width: auto;
}

.artisan-page-filter-button:hover {
  border: 2px solid var(--skillhub-hover-blue);
  transform: translateY(-1);
}

.artisan-page-filter-button .filter-icon:hover {
  color: var(--white);
}

/* Grid Sections */
.artisan-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 130px;
  padding: 20px;
}

.artisan-page-trade-card {
  border: 1px solid var(--inactive-grey);
  border-radius: 10px;
  height: 304px;
  width: auto;
  transition: 0.3s ease;
}

.artisan-page-trade-card:hover {
  box-shadow: 0px 0px 2px var(--inactive-grey);
  border: 1px solid var(--skillhub-blue);
  transform: translateY(-1px);
}

.artisan-page-trade-image {
  border-radius: 50%;
}

.artisan-page-trade-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
  height: 150px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

.artisan-page-view-profile-btn {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--skillhub-blue);
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--skillhub-blue);
  border-radius: 5px;
  transition: 0.2s ease;
  margin-top: 10px;
}

.artisan-page-view-profile-btn:hover {
  background-color: var(--skillhub-hover-blue);
}

/* Mobile Responsiveness */
@media (max-width: 767px) {
  .artisan-page-search-container {
    gap: 10px;
    margin-top: 0;
    backdrop-filter: blur(10px);
    padding: 10px 0;
    height: 100px;
  }

  .search-bar {
    justify-content: center;
    align-items: center;
  }

  .artisan-search-input-field {
    width: 280px;
    height: 50px;
    border: 1px solid var(--inactive-grey);
    border-radius: 10px;
    padding: 0px 20px;
  }

  .artisan-page-search-button {
    color: var(--white);
    background-color: var(--skillhub-blue);
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 50px;
  }

  .artisan-page-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    text-decoration: underline;
    color: var(--skillhub-blue);
    background-color: transparent;
  }

  .artisan-page-filter-button:hover {
    border: none;
    transform: translateY(0);
    box-shadow: none;
  }

  .artisan-grid {
    margin-top: 170px;
    grid-template-columns: repeat(2, 1fr);
  }

  .img {
    max-width: 70px;
    max-height: 70px;
  }

  .artisan-page-trade-card {
    align-items: center;
    width: 165px;
    height: 270px;
  }

  .artisan-page-trade-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .trade-name {
    font-size: 14px;
  }

  .ratings {
    font-size: 12px;
  }

  .personP {
    font-size: 12px;
  }
}

/* Tablet Responsiveness */
@media (min-width: 768px) and (max-width: 1024px) {
  .artisan-page-search-container {
    margin-top: 0;
    height: 100px;
    gap: 5px;
  }

  .artisan-search-input-field {
    width: 460px;
    height: 50px;
  }

  .artisan-grid {
    margin-top: 150px;
    grid-template-columns: repeat(4, 1fr);
  }

  .img {
    max-width: 70px;
    max-height: 70px;
  }

  .artisan-page-trade-card {
    width: 165px;
    height: 270px;
  }

  .artisan-page-trade-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .artisan-trade-name {
    font-size: 14px;
  }

  .artisan-page-ratings {
    font-size: 12px;
  }

  .personP {
    font-size: 12px;
  }
}
