:root {
  --white: #ffffff;
  --black: #000000;
  --inactive-grey: #8f8f8f;
  --grey: #e8e8e8;
  --skillhub-blue: #0575e6;
  --skillhub-hover-blue: #0518e6;
  --red: red;
  --completion-green: #008000;
  --debug-colour: #add8e6;
}

.footer {
  height: 300px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: var(--debug-colour);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.footer-brand h2 {
  font-size: 24px;
}

.footer-brand span {
  color: var(--skillhub-blue);
}

.social-icons a {
  margin-right: 12px;
  font-size: 18px;
  color: var(--black);
  text-decoration: none;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 100px;
}

.footer-columns div h4 {
  margin-bottom: 10px;
  color: var(--black);
}

.footer-columns ul {
  list-style: none;
  padding: 0;
}

.footer-columns li {
  margin-bottom: 6px;
  color: var(--black);
  text-align: left;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: var(--black);
}
