:root {
  --white: #ffffff;
  --black: #171717;
  --inactive-grey: #8f8f8f;
  --grey: #e8e8e8;
  --skillhub-blue: #0575e6;
  --skillhub-hover-blue: #0518e6;
  --star-colour: #ff9988;
  --red: red;
  --completion-green: #008000;
  --debug-colour: #add8e6;
}

.reviews-section {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.reviews-title {
  text-align: center;
  font-size: 32px;
  color: #333;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
}

.review-card {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid var(--grey);
  transition: 0.3s ease;
}

.review-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--skillhub-blue);
}

.review-header {
  display: flex;
  align-items: center;
}

.review-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  border: 2px solid var(--white);
  margin-left: 10px;
  margin-top: 10px;
}

.review-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.review-user {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.review-stars {
  color: var(--star-colour);
  font-size: 20px;
  letter-spacing: 2px;
}

.review-caption {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  color: #555;
}

.review-comments {
  display: flex;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.see-more-reviews-button {
  text-decoration: underline;
  transition: 0.3s ease;
}

.see-more-reviews-button:hover {
  color: var(--skillhub-hover-blue);
}

/* Mobile responsiveness */
@media screen and (max-width: 767px) {
  /* Reviews Section */
  .review-card {
    padding: 10px;
  }

  .reviews-grid {
    padding: 0 20px;
    grid-template-columns: repeat(1, 1fr);
  }

  .review-content {
    padding: 16px;
  }

  .review-image {
    width: 100px;
    height: 100px;
  }

  .review-user {
    font-size: 16px;
  }

  .review-user-info {
    gap: 0;
  }

  .review-caption {
    font-size: 15px;
    text-align: left;
  }

  .review-comments {
    font-size: 14px;
    width: 100%;
  }
}
