:root {
  --white: #ffffff;
  --black: #171717;
  --inactive-grey: #8f8f8f;
  --grey: #e8e8e8;
  --skillhub-blue: #0575e6;
  --skillhub-hover-blue: #0518e6;
  --star-colour: #ff9988;
  --red: red;
  --completion-green: #008000;
  --debug-colour: #add8e6;
}

.main-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Profile Heading */
.profile-heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-profile-details-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.viewprofile-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  grid-row: span 2;
  border: 1px solid var(--inactive-grey);
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.viewprofile-name {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.verification-icon {
  color: var(--skillhub-blue);
  font-size: 18px;
}

.viewprofile-expertise,
.viewprofile-location {
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  color: #171717;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratings {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.rating-stars {
  color: var(--star-colour);
}

.profile-action-button-container {
  display: flex;
  gap: 20px;
}

.artisan-hire-button,
.message-button,
.favourites-button {
  border-radius: 10px;
}

.artisan-hire-button,
.message-button {
  width: 150px;
}

.artisan-hire-button {
  background-color: var(--skillhub-blue);
  color: var(--white);
  border: none;
}

.message-button {
  background-color: transparent;
  border: 2px solid var(--skillhub-blue);
  color: var(--skillhub-blue);
}

.favourites-button {
  width: 50px;
  background-color: var(--white);
  color: var(--skillhub-blue);
  border: 1px solid var(--inactive-grey);
  box-shadow: 0px 0px 5px var(--grey);
}

.view-portfolio-button {
  background-color: transparent;
  border: none;
  width: auto;
  text-decoration: underline;
  color: var(--skillhub-blue);
}

.artisan-hire-button:hover,
.message-button:hover {
  background-color: var(--skillhub-hover-blue);
  box-shadow: 0px 0px 5px var(--skillhub-hover-blue);
}

.message-button:hover {
  color: var(--white);
  border: 3px solid var(--skillhub-hover-blue);
}

.favourites-button:hover {
  color: var(--red);
  border: none;
  box-shadow: 0px 0px 5px var(--red);
}

.view-portfolio-button:hover {
  color: var(--skillhub-hover-blue);
  box-shadow: none;
}

/* Biography */
.biography-and-video-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1100px;
  height: 250px;
}

.biography-section {
  height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.biography-title {
  font-weight: 500;
}

.biography-content {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  padding-right: 20px;
}

.viewprofile-biography {
  font-size: 15px;
  line-height: 1.8;
  color: var(--black);
}

.video-container {
  width: 500px;
}

.bio-video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.video-caption {
  font-size: 14px;
  text-align: center;
  color: var(--black);
  margin-top: 5px;
}

/* Service area and availability section */
.service-area-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.service-area-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 300px;
  width: 100%;
}

.section-heading {
  text-align: left;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--black);
}

.service-availability-container {
  width: 100%;
}

.map-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

.availability-container {
  height: 300px;
  max-height: 100%;
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 20px;
}

.user-availability {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.availability-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.availability-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-text {
  font-size: 24px;
  font-weight: 500;
}

.status-text.online {
  color: var(--completion-green);
}

.status-text.offline {
  color: var(red);
}

.status-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-indicator.online {
  background-color: var(--completion-green);
}

.status-indicator.offline {
  background-color: var(--red);
}

.status-description {
  font-size: 16px;
  margin: 10px 0 20px;
}

.status-description.available {
  color: var(--completion-green);
}

.status-description.fully-booked {
  color: var(--red);
}

.availability-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.hire-button,
.waitlist-button,
.disabled-button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire-button {
  background-color: var(--skillhub-blue);
  color: var(--white);
}

.waitlist-button {
  background-color: transparent;
  color: var(--skillhub-blue);
  border: 2px solid var(--skillhub-blue);
}

.disabled-button {
  background-color: var(--inactive-grey);
  color: var(--white);
  cursor: not-allowed;
}

.hire-button:hover,
.waitlist-button:hover {
  background-color: var(--skillhub-hover-blue);
  color: var(--white);
  border: none;
}

/* Mobile responsiveness */
@media (max-width: 767px) {
  .main-container {
    margin-top: 70px;
  }

  /* Profile Heading */
  .profile-heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .image-profile-details-container {
    flex-direction: column;
    gap: 10px;
  }

  .profile-details {
    align-items: center;
  }

  .verification-icon {
    color: var(--skillhub-blue);
    font-size: 18px;
  }

  .profile-action-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .artisan-hire-button,
  .message-button {
    width: 100%;
  }

  .favourites-button {
    width: 100%;
  }

  .view-portfolio-button {
    background-color: transparent;
    border: none;
    width: auto;
    text-decoration: underline;
    color: var(--skillhub-blue);
  }

  /* Biography */
  .biography-and-video-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 250px;
  }

  .biography-section {
    height: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .biography-content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 20px;
  }

  .video-container {
    width: 340px;
  }

  .video-caption {
    font-size: 12px;
  }

  /* Service area and availability section */
  .service-area-section {
    flex-direction: column;
    align-items: center;
  }

  .service-area-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
  }

  .map-container {
    height: 300px;
  }

  .availability-container {
    height: auto;
    padding: 20px 0;
  }
}

/* Tablet responsiveness */
@media (min-width: 768px) and (max-width: 1025px) {
  .main-container {
    margin-top: 80px;
  }

  /* Profile Heading */
  .profile-heading {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .image-profile-details-container {
    gap: 10px;
  }

  .profile-details {
    align-items: flex-start;
  }

  .verification-icon {
    color: var(--skillhub-blue);
    font-size: 18px;
  }

  .profile-action-button-container {
    display: flex;
    gap: 10px;
  }

  .view-portfolio-button {
    background-color: transparent;
    border: none;
    width: auto;
    text-decoration: underline;
    color: var(--skillhub-blue);
  }

  /* Biography */
  .biography-and-video-section {
    align-items: flex-start;
    justify-content: space-between;
    width: 720px;
    height: auto;
  }

  .biography-content {
    margin-bottom: 20px;
  }

  .video-container {
    width: 340px;
  }

  .video-caption {
    font-size: 12px;
  }

  /* Service area and availability section */
  .service-area-section {
    flex-direction: column;
    align-items: center;
  }

  .service-area-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
  }

  .map-container {
    height: 400px;
  }

  .availability-container {
    height: auto;
    padding: 20px 0;
  }
}
